/* Generic color palette, any component can inherit this */
.back_col {
    background-color: red;
}
.main_col {
    background-color: green;
}
.fill_col_1 {
    background-color: blue;
}
.fill_col_2 {
    background-color: blueviolet;
}
.fill_col_3 {
    background-color: magenta;
}

/* Generic text styles TODO: not yet implemented in Tuix
.heading {
    font: Montserrat;
    font-size: 48pt;
    color: #f0f0f0;
}
.subtitle {
    font: IBMPlexSans;
    font-size: 18pt;
    color: #f0f0f0;
}
.label {
    font: IBMPlexSansCondensed;
    font-size: 24pt;
    color: #f0f0f0;
}
.legal {
    font: IBMPlexSansCondensed;
    font-size: 12pt;
    color: #f0f0f078;
}
.readout {
    font: IBMPlexMono;
    font-size: 12pt;
    color: #f0f0f078;
}*/